<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <div class="link-container green">
        <a href="https://www.qu.edu.qa" target="_blank" class="link red">
            Go to QU website (open a new tab)
        </a>
    </div>

    <div class="link-container gray">
        <a href="https://www.qu.edu.qa" target="_self" class="link yellow">
            Go to QU website (open in the same page/tab)
        </a>
    </div>

    <div class="link-container black">
        <a href="https://www.qu.edu.qa" target="_self" class="link blue">
            Go to QU website (open in the same page/tab)
        </a>
    </div>

</body>
</html>
